<navbar></navbar>

<div class="container">
  <input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
  <textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
  <input type="submit" value="Add Post" (click)="addPost()">

  <ul *ngFor="let post of posts | async">
    <li (click)="getPost(post.id)">
      <strong>{{ post.data.title}}</strong> (
      <a href="#" (click)="updatePost(post.id)">update</a> |
      <a href="#" (click)="deletePost(post.id)">delete</a>)
      <br> {{post.data.content}}
    </li>
  </ul>

  <h1>A specific post:</h1>
  <h3>{{ (post | async)?.title }}</h3>
  <p>{{ (post | async)?.content }}</p>
</div>
